:root.theme-dark {
  --base-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: var(--black);
  --color-angles: var(--base-color);
  --color-header__theme-menu-list: var(--base-color);
  --color-button-hover: #FF007066;
  --color-title: #DB00FF;
  --color-title-card: var(--black);
  --color-title-section: var(--base-color);
  --color-text: #F1B2CE;
}

:root.theme-dark .lamp {
  opacity: 1;
}