.page {
  background-image: var(--background-image);
  background-position:center;
  background-attachment: fixed;
  background-color: var(--background-color);
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  height: 100vh;
  margin: 0px 10px;
  padding-top: 10px;
  min-height: 668px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-angles);
  border-right: 1px solid var(--color-angles);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-angles);
  border-left: 1px solid var(--color-angles);
}

.lamp {
  position: absolute;
  justify-self: end;
  line-height: 25px;
  color: var(--base-color);
  right: 10px;
  text-transform: uppercase;
  top: 10px;
}

.lamp::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--base-color);
  background-color: var(--base-color);
  display: inline-block;
  transform: translateY(-15%);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  display: inline;
  margin-top: 5px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  color: var(--color-theme-menu-list);
}

.header__theme-menu-button {
  cursor: pointer;
  min-width: 70px;
  min-height: 26px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:active {
  outline: 1px solid var(--color-theme-menu-list);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-button-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--color-theme-menu-list);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-theme-menu-list);
}

.title {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.3em;
  align-self: start;
}

.header .title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-title);
  line-height: 83%;
  margin-top: 10px;
}

.header p {
  align-self: start;
  margin-top: 36px;
  background-color: var(--background-color-title);
  color: var(--color-title-card);
  font-weight: 700;
}

.main {
  margin: 40px 10px 42px;
  display: grid;
  row-gap: 50px;
}

.section {
  display: grid;
  row-gap: 19px;
}

.section .title {
  color: var(--color-title-section);
}

.articles_list {
  display: grid;
  row-gap: 20px;
}

.article {
  display: grid;
  row-gap: 10px;
  grid-template-rows: min-content;
}

.articles_list .title {
  background-color: var(--background-color-title);
  color: var(--color-title-card);
}

.articles_list p {
  color: var(--color-text);
}

.link {
  text-shadow: 2px 2px 0 var(--color-shadows-links);
  text-decoration: none;
  position: relative;
}

.link:hover::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

.link:focus-visible {
  outline: 1px solid var(--color-text);
}

.section_how .article .title {
  font-weight: 400;
}

.section_img {
  gap: 10px;
}

.section_img .title {
  background-color: var(--background-color-title);
  color: var(--color-title-card);
}

.images {
  display: grid;
  gap: 10px;
}

img {
  width: 100%;
}

.footer {
  margin: 0px 10px;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  min-height: 668px;
}

.footer .title {
  font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-title);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
  align-self: center;
  margin-top: 3px;
}

@media (min-width: 768px) {
  .header {
    margin: 0px 20px;
    grid-template-rows: 4fr 6fr 5fr;
    padding-top: 20px;
  }
  
  .decorated-zone::before {
    bottom: 20px;
  }

  .decorated-zone::after {
    top: 20px;
  }

  .lamp {
    top: 20px;
  }

  .header__theme-menu {
    align-self: end;
    margin-top: 0;
  }

 .header .title {
    justify-self: start;
    align-self: center;
    margin-top: 50px;
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header p {
    margin-left: calc(50%);
    margin-top: 35px;
  }

  .main {
    margin: 60px 20px 33px;
    row-gap: 80px;
  }

  .section_why {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    row-gap: 10px;
  }

  .section_what > .title {
    margin-right: calc(75%);
  }

  .section_how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .section_img {
    gap: 20px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.6fr 0.8fr 1fr;
    gap: 20px;
  }

  .img_sunset {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .img_ice_cream {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .img_tape {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: span 2;
  }

  .img_street {
    grid-column-start: 2;
    grid-column-end: span 2;
  }

  .footer {
    margin: 0px 20px;
  }

  .footer .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: center;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
    margin-bottom: 0;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .header .title {
    margin-top: 30px;
  }

  .header p {
    margin-top: 45px;
  }

  .main {
    margin: 60px 20px;
  }

  .section_why {
    column-gap: 10px;
  }

  .section_what > .title {
    margin-right: calc(70%);
  }

  .section_what .articles_list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .section_how {
    column-gap: 10px;
  }

  .images {
    grid-template-rows: 0.6fr 0.7fr 1fr;
  }

  .footer .title {
    margin-top: 0;
  }
}